.news-link {
	a {
		box-shadow: inset -10px 0px 0px $grey;
		display: block;
		padding: 30px 80px 30px 30px;
		position: relative;
	}
	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		border-bottom: 2px solid $greyLight;
	}
	.icon {
		height: 30px;
		margin-top: -15px;
		position: absolute;
		right: 35px;
		top: 50%;
		width: 30px;
		svg {
			height: 30px;
			width: 30px;
		}
	}
	h3 {
		@extend h5;
		color: $black;
		margin-bottom: 5px;
		text-transform: none;
	}
	.text {
		box-shadow: 0 1px 0 $linkColor;
	}
}