// Flexbox Modules
// -------------------------
.flex-wrapper {
	@include breakFirst(medium) {
		display: flex;
		flex-wrap: wrap;
	}
	.flex-item {
		@include breakFirst(medium) {
			display: flex;
		}
	}
	.flex-col {
	    flex-direction: row;
	    display: flex;
		flex-wrap: wrap;
		.flex-item {
			flex: auto;
			width: 100%;
		}
	}
}
.flex-item {
	.flex-ft & {
		@include breakFirst(medium) {
			&:first-child {
				padding-right: 0;
			}
			&:last-child {
				padding-left: 0;
			}
		}
	}
}